<h1 class="text-3xl font-bold text-black mb-2">Edit Blog Post</h1>
<%= render partial: "form", locals: {blog_post: @blog_post} %>

<div class="flex justify-center items-center mt-5">
<%= button_to "Delete", blog_post_path(@blog_post), method: :delete,
 data: {turbo_confirm: "Are you sure?"}, class: "text-white bg-gradient-to-r 
 from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 
 focus:outline-none focus:ring-red-300
  font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-5 mb-2" %>
<%= render 'homebutton' %>
</div>